{% block star_rating_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    {# Create class string with "star" appended #}
                    {% set starredClass = (child.vars.attr.class|default ~ ' star')|trim %}
                    {# Merge class into attr and use label instead of value for title #}
                    {{ form_widget(child, {'attr': child.vars.attr|merge({'class': starredClass, 'title': child.vars.label})}) }}
                {% endfor %}
            </div>
        {% else %}
            {# Let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock star_rating_widget %}
