{% block star_rating_widget %}
    {% spaceless %}
        {% if expanded %}
            <div {{ block('widget_container_attributes') }}>
                {% for child in form %}
                    {% set class = 'star' %}
                    {% if child.vars.required %}
                        {% set class = 'star required' %}
                    {% endif %}
                    {{ form_widget(child, {'attr':{'class':class, 'title': child.vars.label}}) }}
                {% endfor %}
            </div>
        {% else %}
            {# Let the choice widget render the select tag #}
            {{ block('choice_widget') }}
        {% endif %}
    {% endspaceless %}
{% endblock star_rating_widget %}
